## Python Basic

1. 올바른 띄워쓰기와 문자열(string)

In [6]:
print('This Kooc is an exellent course')

This Kooc is an exellent course

In [14]:
print('Course name \nis Practice Python') 
#\n 줄바꿈 해쉬사인은 다음 문장에 입력

Course name
is Practice Python

In [11]:
print('Those who don`t take Kooc would regret their decision')

Those who don`t take Kooc would regret their decision

반복되는 print 명령에어 들여쓰기를 사용하면 에러

2. Integers,floats,decimal: 파이썬을 이용한 정확한 계산

In [15]:
23+17

40

In [16]:
2/3

0.6666666666666666

In [22]:
x= 23; y=17 
# ; 표시 사용으로 한 줄에 여러 변수를 지정가능
x + y
#print(x+y,x-y,x*y,x/y)

40

3. 데이터 타입과 간단한 함수 출력

In [23]:
#Addition

In [28]:
y= 5
z=7.5
print("y + z=",y+z)
# 문자열과 수식을 하나의 식에 적용가능
print("y - z=",y-z)
print("y * z=",y+z)
print("y / z=",y+z)
print("y**2 z=",y**2)
print("y//2 z=",y//2)
print("y%2 z=",y%2)
# ** = 지수 , //= 숫자를 나눈 후에 몫, % = 숫자를 나눈후에 나머지
print(type(y))
print(type(z))

y + z= 12.5
y - z= -2.5
y * z= 12.5
y / z= 12.5
y**2 z= 25
y//2 z= 2
y%2 z= 1
<class 'int'>
<class 'float'>

4. string,boolean, triple quoted string

boolean =참, 거짓

In [30]:
print(7>3)
print(3>7)
x = 7>3
print(type(x),x)

True
False
<class 'bool'> True

In [34]:
"""triple quoted string는 여러줄의문장을 메모 할 때 사용
   줄마다 사용하기도 간편함 코드의 기능을 잠깐 없애거나 수정할 때도 사용, docstring 에도 사용!"""

'triple quoted string는 여러줄의문장을 메모 할 때 사용\n   줄마다 사용하기도 간편함 코드의 기능을 잠깐 없애거나 수정할 때도 사용'

In [33]:
"""
a + b = c
d + c = g
"""

'\na + b = c\nd + c = g\n'

5. input 을 이용

In [1]:
your_name = input('What`s your name?')
print(your_name, type(your_name))

What`s your name? Kim Sunho

Kim Sunho <class 'str'>

In [1]:
your_age = input('How old are you?')
print(your_age, type(your_age))

How old are you? 30

30 <class 'str'>

In [ ]:
my_age = input('How old am I?')
print(your_age + my_age)
#결과값을 문자열로 인식하여 글자가 합쳐진 결과로 출력 ex) 3020

In [ ]:
#문자열이 아닌 숫자로 출력하는 방법
print(int(your_age)+int(my_age))
int(21.8)
#유리수에 int함수를 사용하면 가장 큰 정수 값이 나온다. ex)21.9 = 21   11.1 =11

6. if 를 이용한 조건문

[ 비교연산자 ]

x > y : x가 y보다 큼

x < y : x가 y보다 작음

x >= y : x 가 y보다 크거나 같음

x >= y : x 가 y보다 작거나 같음

x == y : x와 y 가 같음

x! = y : x와 y 가 같지 않음

[ if 조건문 ]

if :  조건이 충족되면 특정 기능을 수행

if...else : 조건이 충족되지 않을 때 다른 반응을 수행

In [3]:
x = int(input('Enter an integer'))
if x==1:
    print('x has value of 1')
else:
    print('x does not have a value of 1')

Enter an integer 1

x has value of 1

In [11]:
var1 = int(input('Enter the first integer'))
if var1 < 0:
    print('The first integer is', var1 ,'and its value is nagavive')
          
var2 = int(input('Enter the second integer'))
if var2 <0:
          print('The second integer is nagative','and its value is',var2)
else:
          print('The second integer is positive','and its value is',var2)

Enter the first integer -1

The first integer is -1 and its value is nagavive

Enter the second integer -1

The second integer is nagative and its value is -1

7. 다양한 변수의 타입 변화

In [12]:
print(x, type(x))
x = 2.5
print(x, type(x))
x = 'Arnold'
print(x, type(x))

1 <class 'int'>
2.5 <class 'float'>
Arnold <class 'str'>

여러 변수를 재선언함으로 데이터 타입을 변화 시킬 수 있음(값과 데이터 타입에 대한 정보를 모두 저장)

8. 한 줄의 여려 코드를 입력 (; 사용)

In [13]:
print('hello!'); print('This is KOOC content \nfor Python basic.')

hello!
This is KOOC content
for Python basic.