# Python : List and Tuples

+ list,tuples,string 은 모두 데이터의 배열이다. (파이썬의 Standard library 에서)

+ element(구성요소)들은 index를 가지고 있다.

+ 모든 배열의 index의 시작은 0부터 시작한다.

1. List: concept, indexing, and slicing

+ list는 여려 타입의 데이터 저장이 가능

+ list 안에 element는 변경이 가능하다.

+ list는 대괄호 표시로 선언한다.

In [5]:
#list의 예
list1 = [1, 2,3,4,5, 6,11, 'a', 'b']
print(type(list1),list1)
#list data를 출력할 때는 한 칸씩 띄워서 표기됨

<class 'list'> [1, 2, 3, 4, 5, 6, 11, 'a', 'b']

In [6]:
#파이썬에서 인덱스 숫자를 지정할때는 대괄호 속에 집어넣는다.
print(list1[1],list1[7])
print(list1[2:5])  # index 2~5 (5제외하고 4까지 출력)
print(list1[:7])   # 시작 인덱스 지정안할시 처음부터 출력
print(list1[4:])   # 뒤 인덱스 지정 안할시 마지막까지 출력
print(list1[-1])   # 인덱스의 반대 방향 (-1 = 맨 마지막)
print(list1[-4])
print(list1[1+2:]) #인덱스의 숫자를 더함 (1+2: = 3:)

2 a
[3, 4, 5]
[1, 2, 3, 4, 5, 6, 11]
[5, 6, 11, 'a', 'b']
b
6
[4, 5, 6, 11, 'a', 'b']

In [7]:
#list 의 크기 구하기 len() 
len(list1)

9

In [8]:
# 지정한 index의 element 수정
list1[6] = 'c' #6번 index의 값을 c 로변경
print(list1)
# 지정한 index 더 큰 index를 호출하면 에러 메시지

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b']

In [9]:
list2 =[] #값이 없는 인덱스 생성
for item in range(11,14,1): #for 반복문을 이용 11~14 까지 1간격으로 배열생성
    list2 += [item]   # item의 나온 값을 list에 대입
    #list2.append(item)   #Python 기본 메써드 append      == list += [item]
print(list2)

list3= []
list3 += 'Python Kooc' # 한 글자 씩 인덱스에 할당 됨
print(list3, len(list3))

list3 += ('M','o','o','c') #뒤로 인덱스가 추가 된다
print(list3, len(list3))

[11, 12, 13]
['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c'] 11
['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c', 'M', 'o', 'o', 'c'] 15

In [10]:
#list 의 연결
list12 =list1 + list2
print(list12)

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

In [11]:
#list의 index와 element를 모두 출력
for i in range(len(list12)): #for 반복문 사용
    print(f'({i},{list12[i]})', end = ' ')

(0,1) (1,2) (2,3) (3,4) (4,5) (5,6) (6,c) (7,a) (8,b) (9,11) (10,12) (11,13)

2. Tuples

+ 수정이 불가능하다, 여러 타입이 저장가능하다

+ list와 달리 일반 괄호로 표현한다.

In [12]:
#tuple 선언
t1 = 10,20,30,'John'
t1 += (40,50)
print(t1)

(10, 20, 30, 'John', 40, 50)

In [13]:
#tuple indexing, slicing
t2 = tuple([1,2,3,4])  #list가 tuple을 가지고 있는경우
print(t2)
print(t2[2])
print(t2[:3])

(1, 2, 3, 4)
3
(1, 2, 3)

In [14]:
t3 ='Kim','Park','Kwon', [100,90,80]
print(t3,len(t3),t3[3])
t3[3][1] =85 # list 안에 있는 element를 뽑아내기 위해 index(대괄호) 가 두 번 사용됨.
print(t3)
#tuple은 list를 element로 사용가능 list도 1개의 index로 처리

('Kim', 'Park', 'Kwon', [100, 90, 80]) 4 [100, 90, 80]
('Kim', 'Park', 'Kwon', [100, 85, 80])

3. Tuple의 Unpacking (구성요소를 뽑아내는 기능)

In [15]:
#unpacking tuples
t4 = (('Kim','Park','Kwon'),[100,90,80]) #t4 tuple 선언  2개의 인자가 존재 ex Kim = 0 -0 index     80 = 1-2 index
print(len(t4)) #
last_name, grades =t4 # t4 의 두 element를 각 이름 지정
print(last_name, grades, type(last_name),type(grades)) #last_name은 tuple이고  grades는 list

2
('Kim', 'Park', 'Kwon') [100, 90, 80] <class 'tuple'> <class 'list'>

In [16]:
#Unpacking list
grades1, grades2, grades3 = grades #index만큼 선언 후 각 index에 이름 할당
print(grades1,grades2,grades3)

100 90 80

In [17]:
#Unpacking string
first, second, third, fourth = 'WIFE'
print(first, second, third, fourth)

W I F E

모든 데이터는 Unpacking이 가능하다.

4. Enumerate:A built in function

+ Enumerate은 for 반복문을 사용하지 않고 index 값을 뽑아낸다.

In [18]:
color = ['red','yellow','blue','black','white']
print(list(enumerate(color))) #list로 추출
print(tuple(enumerate(color))) #tuple로 추출

[(0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white')]
((0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white'))

In [19]:
# bar chort 생성
bar = [19,8,15,7,11]
print('Creating a bar chart:')
print(f'Index{"Value":>8}  Bar')
for index, value in enumerate(bar):
    print(f'{index:>5}{value:>8}   {"*"*value}') # value x * 갯수

Creating a bar chart:
Index   Value  Bar
    0      19   *******************
    1       8   ********
    2      15   ***************
    3       7   *******
    4      11   ***********

5. list 의 slicing 심화

In [20]:
print(list12, len(list12))
print(list12[:])   # :표시를 이용해 리스트 전체를 불러온다
print(list12[::2]) # 인덱스를 2간격으로 증가시켜 불러온다

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13] 12
[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[1, 3, 5, 'c', 'b', 12]

In [21]:
list12[0:3] = ['one','two','three'] # 0~3 index를 'one','two','three'로 대체 3 index 제외!! 
print(list12)
list12[0:3] = []  # index 범위 지정후 대괄호 사이를 비워두면 구성요소를 지우라는 뜻
print(list12)

['one', 'two', 'three', 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

6. list와 element 삭제

In [22]:
#element 삭제
del list12[-1] #마지막 인덱스 삭제
print(list12)
del list12[::2] #index 짝수 번호 삭제
print(list12)
del list12[:] # index의 모든 element 삭제
print(list12)

[4, 5, 6, 'c', 'a', 'b', 11, 12]
[5, 'c', 'b', 12]
[]

In [23]:
print(bar)
del(bar)
#print(bar) #삭제된 객체임으로 출력 오류가 발생한다.

[19, 8, 15, 7, 11]

7. Method 를 이용한 List 정렬

In [24]:
number = [7,2,5,4,3,6,1,9,8,15,11]
number.sort()  #sort 는 오름차순으로 정렬됨
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [25]:
number = [7,2,5,4,3,6,1,9,8,15,11]
number.sort(reverse = True) #괄호 안에 문구를 넣으면 내림차순으로 정려됨  
print(number)
number.reverse()  #reverse 메소드를 사용하면 index를 역순으로 정렬
print(number)

[15, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [36]:
# string type을 method를 이용해 정렬
a_string = ' J I love you, and do you love me?'
a_string = a_string.split() #split method를 사용하면 단어를 추출하여 list 화 시킴
print(a_string,type(a_string))
a_string.sort(key=len) # 문자열에 sort method를 사용하면 짧은 순서대로 정렬(같은 길이의 단어가 존재하면 문장에 표기된 순서대로 정렬)
print(a_string,type(a_string))
b_string = sorted(a_string) #sorted 명령어를 사용하면 ABC 순서대로 정렬(영어의 경우 대문자가 먼저 정렬되고 뒤에 소문자 정렬)
print(b_string)

['J', 'I', 'love', 'you,', 'and', 'do', 'you', 'love', 'me?'] <class 'list'>
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love'] <class 'list'>
['I', 'J', 'and', 'do', 'love', 'love', 'me?', 'you', 'you,']

In [27]:
x= [7,2,5,4,3,6,1,9,8,15,11]
y= sorted(x)  #새로운 객체를 만들때 함수를 통과시켜 쉽게 생성가능
z= reversed(x)
print(x)
print(y)
print(list(z))
print(x)

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]
[11, 15, 8, 9, 1, 6, 3, 4, 5, 2, 7]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

8. list 속 element searching

In [28]:
print(x.index(3))
print(12 in x) #in , not in 은 boolean 값으로 결과 나옴
print(12 not in x)
print('Love' in a_string) #대소문자 구분으로 False 출력

4
False
True
False

In [29]:
print(a_string)
a_string.insert(3,'him') #3번 index를 him으로 변경 (insert 는 위치를 지정해 삽입)
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love']
['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love']

In [30]:
a_string.append('hate') #hate 추가 (마지막 index)
print(a_string)
a_string.remove('him') #him 제거
print(a_string)

['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']

In [31]:
#하나 이상의 element 더하기
print(a_string+['I','and'])
a_string.extend(['i','and'])  #extend method 와 + 가 같은 결과
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'I', 'and']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'i', 'and']

In [32]:
#list 구성 요소를 전부 삭제
a_string.clear()  #or a_string[:] =[] or del a_string[:]
print(a_string)

[]

In [33]:
#list 카피
print(x)
x_copied = x.copy() # x_copied = x[:]
print(x_copied)
print(x.copy())

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

9. List comprehensions

여러줄의 코딩을 단순한 함수로 간략화 하는것

In [34]:
list_range=list(range(0,10,2))  #list 함수 속에 index만 설정하여 선언
print(list_range)

list_com= [ i for i in range(0,10,2)] #list 안에 for 문을 넣어 list 생성
print(list_com)

list_con= [i for i in range(0,10) if i % 2 != 0]
print(list_con)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [37]:
list_op=[i**2 for i in range(0,10,2)] # 0~9 사이의 짝수 제곱 출력
print(list_op)
list_up=[i.upper() for i in a_string] # a_string 문자열 대문자로 출력
print(list_up)

[0, 4, 16, 36, 64]
['J', 'I', 'DO', 'AND', 'YOU', 'ME?', 'LOVE', 'YOU,', 'LOVE']

In [39]:
#Generator expression : 생성자만 만들어져 있고 한단계 더 나가야 한다.
list_gen = (i**2 for i in range(10) if i % 2 == 0)  #list 가 아닌 tuple로 선언하여 함수화한다
print(list_gen)
list_gen1 = [ i+4 for i in list_gen] # 함수화된 객체를 list로 선언하여 +4 하여 출력한다
print(list_gen1)

<generator object <genexpr> at 0x000001A18B9C65E0>
[4, 8, 20, 40, 68]

10. lambda expression map, zip function

In [40]:
list3 =list(range(0,25))
print(list3)

def is_multiple3(x):   # is_multiple n == n의 배수인가
    """Return True if x is multiple of 3"""
    return x % 3 == 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [51]:
#filter function = 하나의 generator
#filter는 higher-order function 으로 하나의 인자로 받아 또 실행
#filter는 하나의 인자만 받으며 조건이 맞으며 True를 return 한다
list(filter(is_multiple3,list3)) 
#list의 element를 하나씩 is.multiple3 에 대입하여 맞으면 출력

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [50]:
# lambda function : 무명 함수 (이름이 없음)
list4= list(filter(lambda x: x%3 ==0, list3)) #람다는 :(콜론) 표시뒤에 역할을 지정
list4

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [52]:
# map: generator의 한종류 새로운 값을 기존값에 맞춰서 생성
print(list(map(lambda x: x**2, list4)))
print([i**2 for i in list4])    #같은 결과 출력

[0, 9, 36, 81, 144, 225, 324, 441, 576]
[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [54]:
#map 과 filter의 복합 사용 예시
list(map(lambda x: x**2, filter(lambda x: x % 3 == 0, list3)))

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [57]:
[x**2 for x in list3 if x % 3 == 0]

[0, 9, 36, 81, 144, 225, 324, 441, 576]

""" 가장 효과적인 표현 새로운 list의 선언없이 같은 값 출력 """

In [ ]:
#key
car = ['Santafe','Mini','Pony','Grandeur','Excel','elantra']
car.sort(key=len)
print(car)
print(sorted(car))